body{
    background-color: #121212;
    color: white;
    font-family: monospace;
}
.container{
    padding: 2rem;
    height: 100vh;
    text-align: center;
    background-color:  #097c7c;
}
h1{
    text-align: center;
    width: 100%;
    background-color: #15a7a7;
}
.login-content{
    background-color: #0a6666;
}
.login-email{
    margin: 1rem;
}
.login-password{
    margin-left: 2.6rem;
}
.login-btn, .register-btn{
    margin-top: 1rem;
    padding: .5rem;
    width: 4rem;
    background-color: #15a7a7;
    border: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: #ffff;
}
.register-btn{
    margin-left: .5rem;
}
.login-btn:hover, .register-btn:hover{
   background-color: hsl(180, 77%, 17%);
   cursor: pointer;
}
.register-content{
    background-color: #0a6666;
}
.fname, .lname, .register-email, .register-password{
    margin-bottom: 1rem;
}
.fname{
    margin-left: 2.5rem;
}
.lname{
    margin-left: 3rem;
}
.register-email{
    margin-left: 1.2rem;
}
.register-password{
    margin-left: 3.5rem;
}

